@import "tailwindcss";
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
  
    background: rgba(15, 23, 42, 0.9);
    backdrop-filter: blur(10px);
  
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
  
    padding: 8px 14px;
    border-radius: 8px;
  
    text-decoration: none;
    color: white;
  
    transition: all 0.3s ease;
  }
  
  .nav-item:hover {
    background: #2563eb;
    transform: translateY(-2px);
  }
  
  .active {
    background: #1d4ed8;
  }
  